<main>
    <div class="community">
        <div class="name"><%= community.name %></div>
        <div class="profile-picture">
            <% if(community.profilePicture){ %>
                <img src="<%= community.profilePicture %>" alt="Profile Picture" class="profile-picture">
            <% } else{ %>
                <img src="../assets/defaultcommunity.jpg" alt="Profile Picture" class="profile-picture">
            <% } %></div>
        <div class="bio"><%= community.bio %></div>
        <div class="owner"> Owner Id: <%= community.users[0] %></div>
        <% if(community.users[0] == currentUser.id){ %>
            <div><a href="/settings/<%= community.name %>">Settings</a></div>
        <% } %>
    </div>

    <br>

    <form method="post" action="/post" class="post-form">
        <label>Create a Post To <%= community.name %></label>
        <textarea id="textarea" name="content" rows="4" cols="50"></textarea>
        <input type="hidden" name="community" value="<%= community.name %>">
        <input type="hidden" name="redirect" value="/community/<%= community.name %>">
        <button type="submit">Post</button>
    </form>

    <br>

    <%- include('../partials/post') %>


</main>