<main>
    <div class="community">
        <div class="name"><%= community.name %></div>
        <div class="profilePic"><%= community.profilePicture %></div>
        <div class="bio"><%= community.bio %></div>
    </div>

    <br>

    <form method="post" action="/post" class="post-form">
        <label>Create a Post To <%= community.name %></label>
        <textarea id="textarea" name="content" rows="4" cols="50"></textarea>
        <input type="hidden" name="community" value="<%= community.name %>">
        <input type="hidden" name="redirect" value="/community/<%= community.name %>">
        <button type="submit">Post</button>
    </form>

    <br>

    <%- include('../partials/post') %>


</main>