<main>
    <div class="block-element">
        <div class="profile-header">
            <div class="profile-main">
                <div class="icon-follow">
                    <div>
                        <% if(user.profilePicture){ %>
                            <img src="<%= user.profilePicture%>" alt="Profile Picture" class="profile-picture">
                        <% } else{ %>
                            <img src="../assets/defaultprofile.jpg" alt="Profile Picture" class="profile-picture">
                        <% } %>
                    </div>
                    <% if(displayFollow){ %>
                        <div class="follow"><a href="/follow/<%= user.userName %>">Follow</a></div>
                    <% }else if(yourAccount){ %>
                        <div class="follow">Your Profile</div>
                    <% }else{ %>
                        <div class="follow">You Follow</div>
                    <% } %> 
                </div>
                <div class="profile-name-username">
                    <div class="name"><%= user.firstName %> <%= user.lastName %></div>
                    <div class="username">@<%= user.userName %></div>
                </div>
            </div>
            <div class="bio-container">
                <div><%= user.bio %></div>
            </div>
            <div class="profile-lower">
                <div class="followers"><a href="/followers/<%= user.userName %>">Followers: <%= user.followers.length %></a></div>
                <div class="following"><a href="/following/<%= user.userName %>">Following: <%= user.following.length %></a></div>
                <div><a href="/communities/<%= user.userName %>">Communities <%= user.communities.length %></a></div>
            </div>
        </div>
    </div>

<br>

    <% if(!yourAccount){ %>
        <div class="block-element">
            <button class="btn show-message">Send Message</button>
            <div hidden="true" class="message-form">
                <form method="post" action="/message/<%= user.userName %>">
                    <div class="message-form">
                        <textarea id="textarea" name="content" maxlength="200"></textarea>
                        <button type="submit" class="btn">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    <% } %>

    <br>

    <% if (yourAccount) { %>
    <div class="block-element">
    <form method="post" action="/post" class="post-form">
        <label>Create a Post To Your Profile!</label>
        <textarea id="textarea" name="content" maxlength="200"></textarea>
        <input type="hidden" name="community" value="null">
        <button type="submit" class="btn">Post</button>
    </form>
    </div>
    <% } %> 

    <br>

    <%- include('../partials/post') %>

</main>

<script src="../js/unhideMessage.js"></script>