<main>
    <div class="profile">
        <div class="name"><%= user.firstName %> <%= user.lastName %></div>
        <div class="username"><%= user.userName %></div>
        <div class="profilePic"><%= user.profilePicture %></div>
        <div class="bio"><%= user.bio %></div>
        <div class="followers"><a href="/followers/<%= user.userName %>">Followers: <%= user.followers.length %></a></div>
        <div class="following"><a href="/following/<%= user.userName %>">Following: <%= user.following.length %></a></div>
        <% if(displayFollow){ %>
            <div class="follow"><a href="/follow/<%= user.userName %>">Follow</a></div>
        <% }else if(yourAccount){ %>
            <div class="follow">Your Profile</div>
        <% }else{ %>
            <div class="follow">You Follow <%= user.firstName %> <%= user.lastName %></div>
        <% } %> 
        <div><a href="/communities/<%= user.userName %>">Communities!</a></div>
    </div>


    <br>
    
    <% if (yourAccount) { %>
    <form method="post" action="/post" class="post-form">
        <label>Create a Post To Your Profile!</label>
        <textarea id="textarea" name="content" rows="4" cols="50"></textarea>
        <input type="hidden" name="community" value="null">
        <button type="submit">Post</button>
    </form>
    <% } %> 

    <br>

    <%- include('../partials/post') %>


</main>