<main>
    <h1 class="block-element">Search</h1>
    <div class="block-element">
        <div class="search-contaier">
            <form action="/search" method="post">
                <div class="choice">
                    <label>Select a Search Option: </label>
                    <select name="option" class="select-choice">
                        <option value="communties">Communities</option>
                        <option value="users">Users</option>
                    </select>
                </div>
                <br>
                <div class="choice-container">
                    <input name="name" type="text" class="name-input" placeholder="Enter a name">
                </div>
                <hr>
                <div class="submit-container">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
    </div>
    <% if(activeSearch) { %>
        <% communities.forEach(community =>{ %>
            <div class="block-element">
                <div class="search-result">
                    <% if(community.profilePicture){ %>
                        <img src="<%= community.profilePicture%>" alt="Profile Picture" class="search-dp">
                    <% } else{ %>
                        <img src="../assets/defaultcommunity.jpg" alt="Profile Picture" class="search-dp">
                    <% } %>
                    <a href="/community/<%= community.name %>" class="a-search"><%= community.name %></a>
                </div>
            </div>
        <% }) %>
        <% users.forEach(user =>{ %>
            <div class="block-element">
                <div class="search-result">
                    <% if(user.profilePicture){ %>
                        <img src="<%= user.profilePicture%>" alt="Profile Picture" class="search-dp">
                    <% } else{ %>
                        <img src="../assets/defaultprofile.jpg" alt="Profile Picture" class="search-dp">
                    <% } %>
                    <a href="/profile/<%= user.userName %>" class="a-search"><%= user.userName %></a>
                </div>
            </div>
        <% }) %>
    <% } %>


</main>